<%= form_with model:@facility, url: admins_facility_path(@facility), local:true do |f| %>
  <div class="row">
  	<div class="col-xs-10">
  	  <table class="table">
  	  	<thead>
  	  	<tr>
  	  	  <th>
  	  	  	<%= attachment_image_tag @facility, :image, :fill, 300, 300,fallback: "no_image.jpg",size:"100×100" %>
  	  	  </th>
  	  	  <th>
  	  	  	<div>
  	  	  	  <%= f.attachment_field :image %>
  	  	  	</div>
  	  	  </th>
  	  	</tr>
  	  	<tr>
  	      <th>
  	      	<%= f.label :"名称" %>
  	      </th>
  	      <th>
            <div class="form-group">
              <label for="exampleInputEmail1" class="bmd-label-floating">名称</label>
  	      	   <%= f.text_field :name, placeholder: "名称" %>
            </div>
  	      </th>
  	  	</tr>
  	  	<tr>
  	  	  <th>
  	  	  	<%= f.label :"内容" %>
  	  	  </th>
  	  	  <th>
            <div class="form-group">
              <label for="exampleInputEmail1" class="bmd-label-floating">内容</label>
  	  	  	   <%= f.text_area :body, placeholder: "内容" %>
            </div>
  	  	  </th>
  	  	</tr>
  	  	<tr>
  	  	  <th>
  	  		<%= f.label :"住所" %>
  	  	  </th>
  	  	  <th>
            <div class="form-group">
              <label for="exampleInputEmail1" class="bmd-label-floating">住所</label>
  	  	  	   <%= f.text_area :address, placeholder: "住所" %>
            </div>
  	  	  </th>
  	  	</tr>
  	  	<tr>
  	  	  <th>
  	  	  	<%= f.submit "更新", class: "btn btn-outline-info" %>
  	  	  </th>
  	  	</tr>
        <tr>
          <th>
            <%= link_to '削除', admins_facility_path, method: :delete, class: "btn btn-outline-danger" %>
          </th>
        </tr>
  	  </thead>
  	  </table>
  	</div>
  </div>
<% end %>